<!DOCTYPE html>
<html lang="en">
<head>
    <title>Welcome page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
{% comment %} <body>
    <h1>WELCOME TO DineSphere<h1>

    <a href="open_signup">SIGN UP</a>
    <br>
    <a href="open_signin">SIGN IN</a>

</body> {% endcomment %}

<body>
    <div class="container">
        <h1>Welcome TO DineSphere</h1>

        <a href="open_signup">SIGN UP</a>
        <br>
        <a href="open_signin">SIGN IN</a>
    </div>
</body>


</html>